

{% extends "base.html" %}
{% load myfilters %}
{% block content %}

<div class="login-form">
    <form method="post">
      {% csrf_token %}
      <h2 class="text-center">Sign up</h2>
      {% for field in form %}
        <div class="form-group text-center ">
            {{ field.label_tag }}<br>
            {{ field|addclass:'form-control' }}
            {% for error in field.errors %}
              <br><p class="text-center" style="color: red">{{ error }}</p>
            {% endfor %}
        </div>

    {% endfor %}
      <div class="clearfix">
      <p class="text-center" style="color: grey; font-size: small">Your password can’t be too similar to your other personal information.<br>
                                                      Your password must contain at least 8 characters.<br>
                                                      Your password can’t be a commonly used password.<br>
                                                      Your password can’t be entirely numeric.</p>
        </div>
      <button type="submit" class="btn btn-primary btn-block">Sign up</button>


    </form>
</div>


{% endblock %}